{% extends "auctions/layout.html" %} {% block body %} {% load static %} {% load humanize %}

<h1 class="display-5 text-center mb-5 bg-primary text-light">Add Listing</h1>
<div class="container mt-5 p-4 shadow-lg bg-light rounded">
    <form action="{% url 'auctions:addlisting' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{ form.as_p }}
        <label for="starting_price">Starting Price:</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input type="number" class="form-control" name="starting_price" placeholder="1.00">
        </div>
        <input class="btn btn-outline-primary btn-lg w-25" type="submit" value="Submit">
    </form>
</div>
{% endblock %}