{% extends "auctions/layout.html" %} {% block body %} {% load static %} {% load humanize %}

<h1 class="display-5 text-center bg-info text-white">Category: {{ context.category|capfirst }}</h1>
<hr class="my-4">
<div class="container">
    <div class="row">
        {% if context.listings %}
        {% for item in context.listings %}
        {% if item.closed_auction == "No" %}
        <div class="col-md-4 col-sm-6 mb-4">
            <a href="{% url 'auctions:viewlisting' item.id %}" class="text-decoration-none text-dark">
                <div class="card shadow-lg border-0 rounded-0 m-2" style="width:18rem; height: 600px; overflow: hidden;">
                    <div class="image-container">
                        {% if item.listing_img %}
                        <img src="{{ item.listing_img }}" alt="{{ item.listing_title }}"
                            title="{{ item.listing_title }}" style="width: 100%; height: 100%; object-fit: scale-down;">
                        {% else %}
                        <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1608836297/cs50_commerce_project/bicycle-emoji.svg"
                            alt="default image" title="default image"
                            style="width: 100%; height: 100%; object-fit: contain;">
                        <span class="lead text-center">Default. No Image Posted.</span>
                        {% endif %}
                    </div>
                    <h4 class="card-title text-center text-white bg-dark p-1">{{ item.listing_title }}</h4>
                    <div class="card-body text-center">
                        <p><em>Listed By: {{ item.listing_owner|capfirst }}</em></p>
                        <p>Added: {{ item.created_on }}</p>
                        <h5>Starting: ${{ item.starting_price|floatformat:2|intcomma }}</h5>
                        <h5>
                            {% if item.current_price == 0 %}
                            <mark>No Bids Yet.</mark>
                            {% else %}
                            <mark>Current: ${{ item.current_price|floatformat:2|intcomma }}</mark>
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <div class="col-12 text-center">
            <h3 class="font-weight-light">Nothing added to {{ context.category|capfirst }}, yet.</h3>
            <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1608839580/cs50_commerce_project/undraw_blank_canvas_3rbb.svg"
                class="img-fluid" alt="empty box">
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}