{% extends "auctions/layout.html" %} {% block body %} {% load static %} {% load humanize %}

<h3 class="fw-bold text-center mb-5 bg-info text-white p-3">{{ categories|length }} Categories</h3>
<div class="container">
    <div class="d-flex flex-wrap justify-content-center">
        {% for item in categories %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="list-group-item shadow-lg text-center border-0 py-5"
                style="font-family: 'Julius Sans One', sans-serif;">
                <form method="POST" class="form-group" action="{% url 'auctions:categorylist' item.0 %}">
                    {% csrf_token %}
                    <input type="submit" class="h4 bg-white text-secondary border-0 p-2" value="{{ item.0|capfirst }}">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}