{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Bidstrocity{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'auctions/shop-store-icon.ico' %}">
</head>
<body class="d-flex flex-column min-vh-100 bg-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-1">
        <div class="container-fluid">
            <a class="navbar-brand pr-5" href="{% url 'auctions:index' %}">
                <span class="display-5 font-weight-light fs-4 fs-md-3">
                    <span class="text-primary">Bid</span><span class="text-danger">stro</span><span class="text-warning">city</span>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="d-flex w-100 justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings <span
                                    class="badge badge-dark badge-pill">{{ listings_total }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auctions:closedlisting' %}">Closed Listings <span
                                    class="badge badge-danger badge-pill">{{ closed_total }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auctions:category' %}">Categories <span
                                    class="badge badge-info badge-pill">{{ category_count }}</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auctions:watchlist' %}">My Watchlist <span
                                    class="badge badge-warning badge-pill">{{ length }}</span></a>
                        </li>
                        <li class="nav-item pl-3">
                            <a class="nav-link border-left" href="{% url 'auctions:addlisting' %}">Add Listing</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span><b>Hello, {{ user.username }}.</b></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'auctions:logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <li class="nav-item pl-3">
                    <a class="nav-link border-left" href="{% url 'auctions:login' %}">Login</a>
                </li>
                {% endif %}
            </div>
        </div>
    </nav>

    <main class="flex-grow-1 bg-white">
        {% include 'auctions/messages.html' %}
        {% block body %}{% endblock %}
    </main>

    <section class="branding-section py-5 mt-5">
        <hr class="border-2 border-top mb-4" />
        <div class="container">
            <div class="row text-center text-md-start">
                <!-- Establishment -->
                <div class="col-md-3 mb-4">
                    <h5 class="text-uppercase fw-bold">Establishment</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">About Us</a></li>
                        <li><a href="#" class="text-light">Find Locations</a></li>
                    </ul>
                </div>
    
                <!-- Brand -->
                <div class="col-md-3 mb-4">
                    <h5 class="text-uppercase fw-bold">Brand</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Press</a></li>
                        <li><a href="#" class="text-light">Blog</a></li>
                        <li><a href="#" class="text-light">Reviews</a></li>
                    </ul>
                </div>
    
                <!-- Support -->
                <div class="col-md-3 mb-4">
                    <h5 class="text-uppercase fw-bold">Support</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Shipping/Return Policy</a></li>
                        <li><a href="#" class="text-light">Repairs</a></li>
                        <li><a href="#" class="text-light">Warranty</a></li>
                        <li><a href="#" class="text-light">FAQ</a></li>
                        <li><a href="#" class="text-light">Contact Us</a></li>
                    </ul>
                </div>
    
                <!-- Contact Us -->
                <div class="col-md-3 mb-4">
                    <h5 class="text-uppercase fw-bold">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><span class="d-block text-light"><i class="fa fa-phone"></i> 1-800-555-5555</span></li>
                        <li><span class="d-block text-light"><i class="fa fa-clock"></i> 9am-5pm EST, M-F</span></li>
                        <li><span class="d-block text-light"><i class="fa fa-clock"></i> 9am-1pm EST, Sat</span></li>
                        <li><span class="d-block text-light"><i class="fa fa-times"></i> Closed Sundays</span></li>
                    </ul>
                </div>
            </div>
    
            <hr class="my-4" />

            <!-- Subscription Form -->
            <div class="row text-center">
                <div class="col-md-6 mx-auto">
                    <form class="d-flex justify-content-center">
                        <input type="email" class="form-control me-2" placeholder="Enter your email here">
                        <button class="btn btn-primary" type="submit">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark text-light text-center py-3">
        <div class="container">
            <p class="m-0">Angel Rodriguez &copy; {{ current_year }}</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>
</body>

</html>