{% extends "auctions/layout.html" %} {% block body %} {% load static %} {% load humanize %}

<div class="container d-flex flex-wrap mt-5 p-2 justify-content-center">
    {% if context.item %}
    <div class="alert alert-success text-center w-100 fw-lighter">
        <h5 class="alert-heading">This item is on your watchlist.</h5>
    </div>
    {% endif %}
    {% if context.winner == request.user %}
    <div class="alert alert-warning text-center w-100 fw-lighter">
        <h5 class="alert-heading">You won this auction, {{ context.winner|capfirst }}!</h5>
    </div>
    {% endif %}
    {% if context.closed_status is not None %}
    <div class="alert alert-danger text-center w-100 fw-lighter">
        <h5 class="alert-heading">This auction is closed</h5>
    </div>
    {% endif %}
</div>

<h3 class="fw-bold text-center text-primary mt-3 mb-2">{{ context.listing.listing_title }}</h3>
<hr class="w-75">

<div class="container d-flex flex-wrap justify-content-around bg-light p-5">
    <figure class="figure">
        {% if context.listing.listing_img %}
        <div class="image-container" style="width: 100%; height: 500px; overflow: hidden;">
            {% if context.listing.listing_img %}
            <img src="{{ context.listing.listing_img }}" alt="{{ item.listing_title }}" title="{{ item.listing_title }}"
                style="width: 100%; height: 100%; object-fit: scale-down; object-position: center;">
            {% else %}
            <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1608836297/cs50_commerce_project/bicycle-emoji.svg"
                alt="default image" title="default image"
                style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
            <span class="lead text-center">Default. No Image Posted.</span>
            {% endif %}
        </div>
        {% endif %}
        <figcaption class="figure-caption">Listed By: {{ context.listing.listing_owner|capfirst }}</figcaption>
    </figure>
<div class="container">
    <h3>${{ context.highest_bid|floatformat:2|intcomma }}</h3>
    <p>{{ context.listing.listing_description }}</p>
    <span class="badge bg-primary text-light mb-3">Category: {{ context.listing.category|capfirst }}</span>
    <br />
    <div class="row">
        <div class="col-md-4 d-flex align-items-end text-center mt-2 mb-2">
            {% if context.item %}
            <form action="{% url 'auctions:watchlistswitch' context.listing.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove From Watchlist" class="btn btn-danger btn-md w-100">
            </form>
            {% else %}
            <form action="{% url 'auctions:watchlistswitch' context.listing.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Add To Watchlist" class="btn btn-success btn-md w-100">
            </form>
            {% endif %}
        </div>

        <div class="col-md-4 d-flex align-items-end text-center mt-2 mb-2">
            {% if context.closed_status is None %}
            <form action="" method="POST" id="formBid">
                {% csrf_token %}
                <div class="input-group  mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="hidden" id="form_type" name="form_type" value="form_bid">
                    <input type="number" class="form-control" name="bid_amount"
                        placeholder="Current: {{ context.highest_bid|floatformat:2|intcomma }}" value="" aria-label="bid_amount">
                </div>
                <input type="submit" value="Submit Bid" class="btn btn-primary w-100">
            </form>
            {% endif %}
        </div>
        <div class="col-md-4 d-flex align-items-end text-center mt-2 mb-2">
            {% if context.closed_status is None and context.listing.listing_owner == request.user %}
            <form action="" method="POST" id="formClose" class="">
                {% csrf_token %}
                <div class="input-group">
                    {{ context.close_form.as_p }}
                </div>
                <input type="hidden" id="form_type" name="form_type" value="form_close">
                <input type="submit" value="Close Listing" class="btn btn-danger w-100">
            </form>
            {% endif %}
        </div>
        </div>
    </div>
    <hr class="w-100">
    <div class="container">
        <h3 class="text-info">Comments Section</h3>
        <form action="" method="POST" id="formComment" class="mt-4">
            {% csrf_token %} {{ context.comment_form.as_p }}
    
            <input type="hidden" id="form_type" name="form_type" value="form_comment">
            <input type="submit" value="Post Comment" class="btn btn-info">
        </form>
        {% if context.comments %}
        <div class="alert alert-primary lead mt-3" role="alert">
            <h4 class="alert-heading">{{ context.comments|length }} comment{{context.comments|pluralize:"...,s"}}</h4>
        </div>
        {% endif %} {% for comment in context.comments %}
    
        <div class="card mt-3">
            <div class="card-body">
                <blockquote class="blockquote">
                    <h6 class="mb-0">{{ comment.content }}</h6>
                </blockquote>
                <hr>
                <small><cite title="date time">Posted {{ comment.timestamp }}</cite></small>
                <footer class="blockquote-footer bg-light">by <cite title="Source Title">{{ comment.user|capfirst }}</cite></footer>
            </div>
        </div>
        {% endfor %}
</div>
{% endblock %}
