{% extends "auctions/layout.html" %} {% block body %} {% load static %} {% load humanize %}

<div class="container d-flex flex-wrap mt-5 p-2 justify-content-center">
    {% if context.item %}
    <div class="alert alert-success text-center w-100 fw-lighter">
        <h5 class="alert-heading">This item is on your watchlist.</h5>
    </div>
    {% endif %}
    {% if context.winner == request.user %}
    <div class="alert alert-warning text-center w-100 fw-lighter">
        <h5 class="alert-heading">You won this auction, {{ context.winner|capfirst }}!</h5>
    </div>
    {% endif %}
    {% if context.closed_status is not None %}
    <div class="alert alert-danger text-center w-100 fw-lighter">
        <h5 class="alert-heading">This auction is closed</h5>
    </div>
    {% endif %}
</div>

<h3 class="fw-bold text-center text-primary mt-3 mb-2">{{ context.listing.listing_title }}</h3>
<hr class="w-75">

<div class="container d-flex flex-wrap justify-content-around bg-light p-5">
    <figure class="figure">
        {% if context.listing.listing_img %}
        <div class="image-container" style="width: 100%; height: 500px; overflow: hidden;">
            {% if context.listing.listing_img %}
            <img src="{{ context.listing.listing_img }}" alt="{{ item.listing_title }}" title="{{ item.listing_title }}"
                style="width: 100%; height: 100%; object-fit: scale-down; object-position: center;">
            {% else %}
            <img src="https://res.cloudinary.com/angelrodriguez/image/upload/v1608836297/cs50_commerce_project/bicycle-emoji.svg"
                alt="default image" title="default image"
                style="width: 100%; height: 100%; object-fit: contain; object-position: center;">
            <span class="lead text-center">Default. No Image Posted.</span>
            {% endif %}
        </div>
        {% endif %}
        <figcaption class="figure-caption">Listed By: {{ context.listing.listing_owner|capfirst }}</figcaption>
    </figure>

    <div class="container">
        <h3>${{ context.highest_bid|floatformat:2|intcomma }}</h3>
        <p>{{ context.listing.listing_description }}</p>
        <span class="badge bg-primary text-light">Category: {{ context.listing.category|capfirst }}</span>
        <br />
        {% if context.item %}
        <form action="{% url 'auctions:watchlistswitch' context.listing.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Remove From Watchlist" class="btn btn-danger mt-2 btn-md">
        </form>
        {% else %}
        <form action="{% url 'auctions:watchlistswitch' context.listing.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Add To Watchlist" class="btn btn-success mt-2 btn-md">
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}